*storage

# Игнорировать байткод
*.pyc
*.pyo

**/__pycache__/

# Игнорировать каталог с файлами настройки
#**/config/ ###################### убрать по необходимости

# Игнорировать каталог с данными и логами
**/data/
**/logs/

# Игнорировать каталог с исполнимыми файлами и модулями (если таковой имеется)
**/bin/

test*.py
**/venv
.vs